.resize-img{
    height: 200px;
    width: auto;
    object-fit: cover;
}
.resize-collection{
    height: 400px;
    width: auto;
    object-fit: cover;
}
.resize-img-mobile{
    width: 200px;
    height: auto;
    object-fit: cover;
}
