.main-footer{
    color: #C9ADA7;
    background-color: #22223B;
    width: 100%;
    position: relative;
    bottom: 0;

}

.row-info{
    padding-bottom: 10px;
}

.footer-container{
    color: #C9ADA7;
    background-color: #22223B;
    width: 100%;
    flex-grow: 1;

    flex-direction: column-reverse;

}
.scroll-button{
    text-align: center;
}