.container {
    background-color: #F2E9E4;
    border-radius: 25px;
    min-width: 75vw;
    max-width: 90vw;

}

body {
    background-color: #C9ADA7;
}


p {
    color: #22223B;
}

h2 {
    color: #22223B;
}

.course-link {
    color:#22223B;
}

.course-link:hover {
    color: black;
  }