.container {
    background-color: #fff;
    border-radius: 25px;
    min-width: 75vw;
    max-width: 90vw;

}

body {
    background-color: #bebebe;
}


p {
    color: #22223B;
}

h2 {
    color: #22223B;
}